@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Anek Malayalam', sans-serif; }

header {
  background-color: rgba(27, 27, 27, 0.979);
  border-bottom: 2px solid #272727; }
  header .header__logo {
    width: 150px; }
  header .header__lista {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; }
  header .header__nav {
    display: flex; }
  header .header__item {
    display: flex;
    align-items: center;
    margin: 0px 20px; }
  header .header__item a {
    color: rgba(224, 196, 250, 0.575);
    font-size: large; }
    header .header__item a:hover {
      color: whitesmoke;
      background-color: rgba(224, 196, 250, 0.575);
      padding: 6px;
      border-radius: 6px; }

footer {
  background-color: rgba(27, 27, 27, 0.979);
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  border-top: 2px solid #272727;
  color: whitesmoke; }
  footer .footer__redes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer .footer__redes-lista {
    list-style: none;
    margin: 25px 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer .footer__redes-item {
    margin-top: 5px; }
    footer .footer__redes-item i {
      width: 20px; }
    footer .footer__redes-item a {
      text-decoration: none;
      color: whitesmoke; }
  footer .footer__suscribe {
    padding: 20px;
    display: flex;
    flex-direction: column; }
  footer .footer__suscribe-form-boton {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(#e9d6fa, rgba(112, 9, 138, 0.938));
    border: 1px solid #8d8d8d;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px; }
    footer .footer__suscribe-form-boton:hover {
      background-image: linear-gradient(rgba(112, 9, 138, 0.938), #e9d6fa); }

/*Sección presentación*/
.presentacion {
  padding: 20px 20px;
  background-color: rgba(165, 78, 247, 0.575);
  color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .presentacion__titulo {
    font-size: 50px; }
  .presentacion__texto {
    text-align: center;
    margin-top: 30px;
    max-width: 600px; }

/*Seccion Novedades*/
.novedades {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.774);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .novedades__titulo {
    color: white;
    font-size: 50px; }
  .novedades__cards {
    display: flex !important;
    justify-content: space-around !important; }
  .novedades__link {
    text-decoration: none; }
  .novedades__img {
    width: auto;
    height: 170px; }

.main__gira {
  background-image: url("../recursos/bren-coll-fechas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px; }
  .main__gira-fechas-titulo {
    text-align: center;
    margin: 16px 0px;
    color: whitesmoke; }
  .main__gira-fechas-lista {
    display: grid;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.233);
    width: auto;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid grey; }
  .main__gira-fechas-item {
    list-style: none;
    text-align: center;
    margin: 25px 0px;
    padding: 20px;
    border-bottom: 1px solid rgba(161, 161, 161, 0.74);
    color: whitesmoke; }
  .main__gira-fechas-link {
    text-decoration: none;
    background-image: linear-gradient(#e9d6fa, rgba(112, 9, 138, 0.938));
    padding: 8px;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 5px;
    margin-left: 10px; }
    .main__gira-fechas-link:hover {
      background-image: linear-gradient(rgba(112, 9, 138, 0.938), #e9d6fa); }

.lanzamientos {
  background-color: #202020; }
  .lanzamientos__titulo {
    padding: 20px 0px;
    color: whitesmoke; }
  .lanzamientos__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../recursos/textura2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px; }
  .lanzamientos__element {
    width: 100%;
    height: 100vh; }
  .lanzamientos__discos {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../recursos/textura1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .lanzamientos__discos-sub {
      margin-top: 20px; }
    .lanzamientos__discos-img {
      height: 300px;
      width: 300px;
      border-radius: 5px; }
    .lanzamientos__discos-tapa {
      display: flex;
      flex-direction: column;
      padding: 20px;
      border: 1px solid grey;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.377);
      color: whitesmoke; }
      .lanzamientos__discos-tapa:hover {
        transform: scale(1.25, 1.25);
        transition: all 1s; }
    .lanzamientos__discos-link {
      text-decoration: none;
      background-color: white;
      color: #a54ef7;
      font-size: large;
      padding: 15px;
      margin-top: 15px;
      border-radius: 15px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center; }
    .lanzamientos__discos-icon {
      font-size: xx-large; }

.main__galeria {
  background-color: #202020; }
  .main__galeria-titulo {
    text-align: center;
    color: whitesmoke;
    padding: 16px 0px; }
  .main__galeria-link {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    padding: 12px;
    border-radius: 15px; }
    .main__galeria-link:hover {
      color: whitesmoke;
      background-color: rgba(0, 0, 0, 0.418);
      background-size: cover; }
  .main__galeria-galeria {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-areas: "galeria1 galeria3 galeria2" "galeria1 galeria5 galeria2" "galeria4 galeria6 galeria6" "galeria4 galeria6 galeria6";
    column-gap: 16px;
    row-gap: 16px; }
  .main__galeria-galeria1 {
    background-image: url("../recursos/fotos-galeria1.jpg");
    grid-area: galeria1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__galeria-galeria2 {
    background-image: url("../recursos/fotos-galeria2.jpg");
    grid-area: galeria2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__galeria-galeria3 {
    background-image: url("../recursos/fotos-galeria3.jpg");
    grid-area: galeria3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__galeria-galeria4 {
    background-image: url("../recursos/fotos-galeria4.jpg");
    grid-area: galeria4;
    background-position: 65% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__galeria-galeria5 {
    background-image: url("../recursos/fotos-galeria5.jpg");
    grid-area: galeria5;
    background-position: 65% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__galeria-galeria6 {
    background-image: url("../recursos/fotos-galeria6.jpg");
    grid-area: galeria6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.contacto {
  background-image: url("../recursos/fondo-contacto2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke; }
  .contacto__titulo {
    color: whitesmoke;
    text-shadow: 15px;
    /*Por alguna razón no quiere agarrar esta propiedad*/ }
  .contacto__seccion {
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    padding: 25px; }
    .contacto__seccion1 {
      display: flex; }
      .contacto__seccion1-man {
        margin-right: 20px; }
      .contacto__seccion1-titulo {
        font-weight: bold;
        margin-top: 20px; }
      .contacto__seccion1-lista {
        padding-left: 0%; }
      .contacto__seccion1-items {
        list-style: none; }
      .contacto__seccion1-prensa {
        padding-left: 0%; }

.form__contacto-boton {
  background-color: rgba(125, 47, 145, 0.938);
  color: whitesmoke;
  font-weight: bold;
  border: 1px solid rgba(125, 47, 145, 0.938); }
  .form__contacto-boton:hover {
    background-color: whitesmoke;
    color: rgba(125, 47, 145, 0.938);
    border: 1px solid whitesmoke; }

@media (min-width: 320px) and (max-width: 575px) {
  /*HEADER GENERAL*/
  header {
    display: flex;
    height: 100%;
    justify-content: center; }
    header .header__nav {
      display: flex;
      flex-direction: column; }
    header .header__lista {
      flex-wrap: wrap;
      flex-direction: column;
      flex-grow: 0; }
  /*FOOTER GENERAL*/
  footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .footer__suscribe {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .footer__suscribe-titulo {
        text-align: center; }
  /*INDEX - SECCIÓN DE PRESENTACIÓN*/
  .presentacion {
    display: flex;
    flex-direction: column; }
  .novedades__cards {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .novedades__cards-n {
      margin-top: 20px; }
  /*GIRA*/
  .main__gira-fechas-item {
    display: flex;
    flex-direction: column; }
  .main__gira-fechas-link {
    margin-top: 16px; }
  /*LANZAMIENTOS*/
  .lanzamientos__video {
    padding: 20px; }
  .lanzamientos__element {
    width: auto;
    height: auto; }
  .lanzamientos__discos {
    display: flex;
    flex-direction: column; }
    .lanzamientos__discos-tapa {
      margin: 20px 0px;
      padding: 5px; }
  /*GALERÍA*/
  .main__galeria-galeria {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas: "galeria1" "galeria2" "galeria3" "galeria4" "galeria5" "galeria6";
    row-gap: 16px; }
  .main__galeria-galeria1 {
    background-size: cover;
    height: 150px;
    background-position: 65% 25%; }
  .main__galeria-galeria2 {
    background-size: cover;
    height: 150px;
    background-position: 65% 25%; }
  .main__galeria-galeria3 {
    background-size: cover;
    height: 150px; }
  .main__galeria-galeria4 {
    background-size: cover;
    height: 150px; }
  .main__galeria-galeria5 {
    background-size: cover;
    height: 150px; }
  .main__galeria-galeria6 {
    background-size: cover;
    height: 150px; }
  /*CONTACTO*/
  .contacto__seccion {
    width: auto; }
    .contacto__seccion1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .contacto__seccion1-prensa {
        margin-top: 20px; }
  .form__contacto-boton {
    width: 100% !important;
    margin-top: 20px; } }
