footer {
    background-color: $background-foot-head;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    border-top: 2px solid $border-foot-head;
    color: whitesmoke;

    .footer {

        &__redes {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__redes-lista {
            list-style: none;
            margin: 25px 0px;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        &__redes-item {
            margin-top: 5px;

            & i {
                width:20px;
            }

            & a {
                text-decoration: none;
                color: $color-texto;
            }
        }

        &__mapa {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__mapa-titulo, &__suscribe-titulo, &__redes-titulo {
            font-weight: bold;
        }

        &__mapa-lista {
            list-style: none;
            margin: 25px 0px;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__mapa-item {
            margin-top: 5px;

            & i {
                width:20px;
            }

            & a {
                text-decoration: none;
                color: $color-texto;
            }
        }
        
        &__suscribe {
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        &__suscribe-form {

            &-boton {
                width: 100%;
                height: 30px;
                background-image: linear-gradient($color1-boton-foot,$color2-boton-foot);
                border: 1px solid rgb(141, 141, 141);
                color: $color-texto;
                font-size: 16px;
                font-weight: bold;
                border-radius: 6px;
    
                &:hover {
                    background-image: linear-gradient($color2-boton-foot, $color1-boton-foot);
                }
            }
        }
    }
}



