
.main__gira {
    background-image: url('../recursos/bren-coll-fechas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;

    &-fechas-titulo {
        text-align: center;
        margin: 16px 0px;
        color: $color-texto;
    }

    &-fechas-lista {
        display: grid;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.233);
        width:auto;
        border-radius: 5px;
        padding: 20px;
        border: 1px solid grey;
    
    }

    &-fechas-item {
        list-style: none;
        text-align: center;
        margin: 25px 0px;
        padding:20px;
        border-bottom: 1px solid rgba(161, 161, 161, 0.74);
        color: $color-texto;
    }

    &-fechas-link {
        text-decoration: none;
        background-image: linear-gradient($color1-boton-foot,$color2-boton-foot);
        padding: 8px;
        font-weight: bold;
        color: $color-texto;
        border-radius: 5px;
        margin-left: 10px;

        &:hover {
            background-image: linear-gradient($color2-boton-foot,$color1-boton-foot);
        }
    }
}



