@import "variables";

header {

    background-color: $background-foot-head;
    border-bottom: 2px solid $border-foot-head;

    .header {

        &__logo {
            width: 150px;
        }
        
        &__lista {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            
        }
        
        &__nav {
            display: flex;
        }
        
        &__item {
            display: flex;
            align-items: center;
            margin: 0px 20px;
        }

        &__item a {
            color: $link-head;
            font-size: large;

            &:hover {
                color: $color-texto;
                background-color: $link-head;
                padding: 6px;
                border-radius: 6px;
            }
        }
    }
}

