
$color-texto: whitesmoke;
$background-foot-head: rgba(27, 27, 27, 0.979);
$border-foot-head: rgb(39, 39, 39);
$link-head: rgba(224, 196, 250, 0.575);
$color1-boton-foot: rgb(233, 214, 250);
$color2-boton-foot: rgba(112, 9, 138, 0.938);