.lanzamientos{
    background-color: rgb(32, 32, 32);

    &__titulo {
        padding: 20px 0px;
        color:whitesmoke;
    }

    &__video {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../recursos/textura2.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }

    &__element {
        width: 100%;
        height: 100vh;
    }

    &__discos {
        padding: 20px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: url('../recursos/textura1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &-sub {
            margin-top: 20px;
        }

        &-img {
            height: 300px;
            width: 300px;
            border-radius: 5px;
        }

        &-tapa {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 1px solid grey;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.377);
            color: whitesmoke;

            &:hover {
                transform: scale(1.25,1.25);
                transition: all 1s;
            }
        }

        &-link {
            text-decoration: none;
            background-color:white ;
            color: rgb(165, 78, 247);
            font-size: large;
            padding: 15px;
            margin-top: 15px;
            border-radius: 15px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-icon {
            font-size: xx-large;
        }
    }
}